.sec {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    border: 2px solid white;
    align-items: center;
    margin: 0px;
    padding: 0;
}

.secs {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    border: 2px solid white;
    align-items: center;
    margin: 0px;
    padding: 0;
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid gray;
    flex-direction: column;
    width: 130px;
    height: 270px;
    padding: 0px;
    border-radius: 20px;
}

.remove {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid gray;
    flex-direction: column;
    width: 130px;
    height: 130px;
    padding: 0px;
    border-radius: 20px;
}

.workout-preview {
    display: flex;
    padding: 10px 16px;
    margin: 20px;
    border-bottom: 1px solid white;
}

input {
    width: 50px;
}
