.sec {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    border: 2px solid white;
    align-items: center;
    margin: 0px;
    padding: 0;
}

.secs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 2px solid white;
    align-items: center;
    margin: 0px;
    padding: 0;
    gap: 40px;
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid gray;
    flex-direction: column;
    width: 250px;
    height: 270px;
    padding: 0px;
    border-radius: 20px;
}

.remove {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid gray;
    flex-direction: column;
    width: 130px;
    height: 130px;
    padding: 0px;
    border-radius: 20px;
}


.info {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid gray;
    flex-direction: column;
    width: 200px;
    height: 130px;
    padding: 0px;
    border-radius: 20px;
}

.info p {
    font-size: 20px;
}

.info .time {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.workout-preview {
    display: flex;
    padding: 10px 16px;
    margin: 20px;
    border-bottom: 1px solid white;
}

.workout input {
    width: 100px;
}

.remove input {
    width: 50px;
}
