.blog-list {
    margin: 20px;
}

.blog-preview {
    padding: 10px 16px; 
    margin: 20px;
    border-bottom: 1px solid white;
}

.blog-preview:hover {
    box-shadow: 1px 3px 5px rgb(14, 14, 14);
}
  
.blog-preview h2 {
    font-size: 20px;
    color: var(--secondary-color);
    margin-bottom: 8px;
}
  